<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fake News Detector</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body class=" h-screen  justify-center ">
    <!-- Main container holding both form and prediction sections -->
    <h1 class="text-3xl py-8 text-white font-extrabold font-sans bg-slate-900 bg-opacity-50 p-6 text-center w-1/2 mx-auto mt-7 shadow-lg rounded-lg">Fake News Detection</h1>
      
    <div class="flex flex-col lg:flex-row mx-auto w-full lg:w-4/5 space-y-6 lg:space-y-0 lg:space-x-8">
        <!-- Form Section (Left Side) -->
        <div id="container" class=" flex flex-col lg:flex-row justify-between w-full lg:w-full  p-6 rounded-lg mx-auto">
            <!-- <h1 class="text-3xl font-bold mb-4 text-black text-center">Fake News Detector</h1>
            <p class="mb-6 italic text-slate-900 text-center">Your authenticity news companion</p> -->

            <form method="POST" action="{{ url_for('home') }}" class="mx-auto w-2/3 shadow-lg p-6">
                 <div class="flex flex-row sm:flex-col gap-4 justify-between mb-4">
                    <input id="title" name="title" type="text" class="block w-1/2 px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-800 focus:border-blue-800 sm:text-sm" required placeholder="News title (Required)">
                    <input id="author" name="news_author" type="text" class="block w-1/2 px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-800 focus:border-blue-800 sm:text-sm" required placeholder="News author (Required)">
                </div>
                <!-- News Content Input -->
                <div class="mb-4">
                    <textarea id="news_content" name="news_content" rows="10" class="block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-800 focus:border-blue-800 sm:text-sm" required placeholder="News article (Required)"></textarea>
                </div>

                <!-- News Source Input -->
<!--                 <div class="mb-4">
                    <input id="source" name="news_source" type="text" class="block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-800 focus:border-blue-800 sm:text-sm" required placeholder="News source (Required)">
                </div> -->

                <!-- Analyse and Clear Buttons -->
                <div class="flex justify-between">
                    <button type="submit" id="analyse-btn" class="w-full max-w-xs bg-green-700 text-white px-6 py-3 rounded-lg hover:bg-green-500 focus:outline-none mr-4">Predict</button>
                    <button type="button" id="clear-btn" class="w-full max-w-xs bg-red-700 text-white px-6 py-3 rounded-lg hover:bg-red-500 focus:outline-none">Clear</button>
                </div>
            </form>

            {% if data %}
            <div class="flex flex-col bg-opacity-70 p-6">
                <div id="result-section" class="bg-white p-4 rounded-lg h-full">
                    <h2 class="text-lg font-semibold">Prediction Results</h2>
                    <p id="results-text" class="text-sm text-black">
                        Based on the source and structure of the content, the news article is likely 
                        <span class="font-bold text-lg {{ 'text-green-600' if data == 1 else 'text-red-700' }}">
                            {{ 'Real' if data == 1 else 'Fake' }}
                        </span>
                    </p>
                </div>
    
                <!-- Feedback Section-->
                <div id="feedback-section">
                    <h2 class="text-2xl text-white font-semibold mt-4">Feedback</h2>
                    <p class="mb-4 text-sm text-green-300 ">Kindly let us know what you think about this tool.</p>
                    <textarea id="feedback" rows="3" class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-800 focus:border-blue-800 sm:text-sm mb-2"></textarea>
                    
                    <button id="feedback-btn" class="bg-green-700 text-white px-4 py-2 rounded-lg hover:bg-green-500 focus:outline-none mx-auto">Submit</button>
                    
                </div>
            </div>
            {% endif %}
            
        </div>

        <!-- Prediction Results Section (Right Side, appears only if data is present) -->
        
    </div>

    <script src="{{ url_for('static', filename='scripts/popup.js') }}"></script>
</body>
</html>
